/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
!/var/data
/var/data/*
!var/data/.gitkeep
/vendor/
/bin/
/.idea/
