{% extends "ShopBundle::base.html.twig" %}

{% block title %}
    {{ parent() }} - Catalogue
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h1>Catalogue</h1>
                </div>

                {% for category in categories %}
                    {% if loop.index0 % 2 == 0 %}<div class="row">{% endif %}

                    <div class="col-md-6">
                        <h2>{{ category.title }}</h2>
                        <p>
                            {{ category.description }}
                        </p>
                        <p>
                            <a href="{{ path('shop_catalog_category', {'categorySlug': category.slug}) }}">
                                Voir tous les produits
                            </a>
                        </p>
                    </div>

                    {% if loop.index % 2 == 0 or loop.last %}</div>{% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}
