<ul class="nav nav-sidebar">
    <li>
        <a href="{{ path('shop_admin_category_index') }}">
            Catégories
        </a>
    </li>
    <li>
        <a href="{{ path('shop_admin_product_index') }}">
            Produits
        </a>
    </li>
    <li>
        <a href="{{ path('shop_admin_feature_index') }}">
            Fonctionnalités
        </a>
    </li>
</ul>
