<ul class="nav nav-sidebar">
    <li>
        <a href="#">
            Catégories
        </a>
    </li>
    <li>
        <a href="#">
            Produits
        </a>
    </li>
    <li>
        <a href="#">
            Fonctionnalités
        </a>
    </li>
</ul>
